api:
  dashboard: true
  insecure: true
  
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  myresolver:
    acme:
      email: burhanfauzisalam@gmail.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
